
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;

    background-image: url(../img/header-bg.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.about-section {
    height: 100%;
    padding-top: 65px;
    text-align: center;
    background: #34495e;
    color:#ecf0f1;
}

.board-section{
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #ecf0f0;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #34495e;
    color:#ecf0f1;
}

.about-column{
    padding-top: 40px;
}

input, textarea{
    background: #ecf0f1 !important;
}

#about-h1{
    /*color: rgb(38,38,38);*/
    padding: 5px 0px 5px 0px;
}

#main-mailinglist-form{
    margin-top: 18%;
}

#main-mail-form{
    width: 75%;
}

#mid-about-column{
    padding-left: 10px;
    padding-right:10px;
}

#main-paragraph {
    padding-top: 2%;
}

#mail-signup {
    width: 100%;
}

#contact-mid{
    margin-top:100px;
}
#contact-bottom {
    margin-top: 200px;
}

#landing-paragraph{
    padding-top: 15px;
    font-size: 20px;
}

.board-members{
    margin-top: 75px;  
}

.board-picture{
    padding-top: 10px;
}

.board-text{
    padding-left: 50px;
}

button{
    color: #34495e !important;
    background: #ecf0f1 !important;
}

button:hover{
    color: #587ca0 !important;
    background: white !important;
}

#facebook-logo{
    width: 25px;
}
#facebook-text{
    color: #4d70ba;
    font-size: 18px;
}