/*--------------------Registration Styles-----------------------*/
.form {
	background-color: #fafafa;
	padding: 25px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	margin: 15px;
	margin-right: 0px;
	margin-top: 5px;
	border-radius: 2px;
	font-family: roboto, sans-serif;
}
.title {
	text-align: center;
	padding: 25px;
}
.title>h2 {
	font-weight: 600;
	color: #F44336;
	font-size: 25px;
	padding: 15px;
}
.title>h3 {
	color: #212121;
	font-size: 18px;
	line-height: 130%;
	padding: 5px;
	padding-bottom: 10px;
}
.form-box {
	padding: 15px;
	padding-bottom: 20px;
}
.form-box .label {
	color: #1b5e20;
	padding: 10px;
	padding-left: 5px;
}
.form input {
	width: 250px;
	padding: 10px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	color: #263238;
	-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.form input:focus {
	background-color: #f5f5f5;
	-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.form input[type="submit"] {
	display: block;
	padding: 15px;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F44336;
	color: white;
	font-weight: 600;
	font-size: 20px;
	border: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.form input[type="submit"]:hover {
	background-color: #e53935;
	-webkit-transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.form input[type="submit"]:active {
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#first-name {
	width: 170px;
	margin-right: 10px;
}
#last-name {
	width: 170px;
}
.other {
	margin-top: 15px;
	display: none;
	opacity: 0;
}
.validB {
	padding-bottom: 0px;
}
.validT {
	padding: 7px;
	padding-bottom: 0px;
	font-size: 12px;
	color: #F44336;
	opacity: 0;
}
.activate.correct>input {
	background-color: #b9f6ca !important;
	border: 1px solid #00c853;
}
.activate.correct>.validT {
	opacity: 0
}
.activate.correct .trigger, .activate.correct .activetrigger {
	background-color: #b9f6ca !important;
	border: 1px solid #00c853;
}
.activate.wrong>input {
	background-color: #ffcdd2 !important;
	border: 1px solid #d50000;
}
.activate.wrong>.validT {
	opacity: 1;
}
.activate.wrong .trigger, .activate.wrong .activetrigger {
	background-color: #ffcdd2 !important;
	border: 1px solid #d50000;
}
.fa-asterisk {
	font-size: 7px;
	color: #F44336;
}
.registerB {
	padding-bottom: 0px;
}
.feedback {
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
	line-height: 150%;
	color: #1a237e;
	font-size: 14px;
}
.nextS {
	background-color: #f44336;
	padding: 12px;
	margin: 15px;
	margin-top: 10px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	border-radius: 2px;
}
.nextS a {
	text-decoration: none;
}
.nextS img {
	width: 100%;
	border-radius: 2px;
}
.nextS h2 {
	color: white;
	font-family: roboto, sans-serif;
	font-size: 26px;
	font-weight: 600;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
}
.nextS p {
	text-align: center;
	font-family: roboto, sans-serif;
	font-size: 18px;
	color: white;
	font-weight: 600;
	padding: 5px 0px;
}
.form a {
	text-decoration: none;
	color: #263238;
}
.dropcontainer {
	position: absolute;
	z-index: 500;
}
.trigger {
	color: #263238;
	width: 305px;
	padding: 13px;
	font-family: roboto, sans-serif;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	background: white url(../img/select-arrow-open.png) 97% center no-repeat;
	background-size: 6%;
	display: block;
	-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.activetrigger {
	color: #263238;
	width: 305px;
	padding: 13px;
	font-family: roboto, sans-serif;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	background: #f5f5f5 url(../img/select-arrow-close.png) 97% center no-repeat;
	background-size: 6%;
	display: block;
	-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.dropcontainer ul {
	color: #263238;
	width: 305px;
	padding: 10px;
	font-family: roboto, sans-serif;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26);
	background: #fff;
	list-style-type: none;
	margin: 0;
	z-index: 100;
}
.dropcontainer ul li {
	padding: 10px;
	-webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.dropcontainer ul li:hover {
	background: #f5f5f5;
	outline: none;
}
.dropcontainer ul li:first-child {
	display: none;
}
.dropdownhidden {
	display: none;
}
.dropdownvisible {
	height: auto;
}
input:-ms-input-placeholder {  
   	color: #93A49F;
	opacity: 1;
}
/*---------------------------------------------------------*/

/*---------------------Media Queries-----------------------*/
@media only screen and (max-width: 1110px) and (min-width: 960px) {
	#first-name, #last-name {
		width: 47%;
	}
}

@media only screen and (max-width: 847px) and (min-width: 768px) {
	#first-name, #last-name {
		width: 47%;
	}
}

@media only screen and (max-width: 767px) and (min-width: 435px) {
	.form input {
		width: 70%;
	}
	input[type="submit"] {
		width: 250px;
	}
}

@media only screen and (min-width: 1500px) {
	#first-name, #last-name {
		width: 40%;
	}
	.form input {
		width: 65%;
	}
	input[type="submit"] {
		width: 250px;
	}
	.form {
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 959px) {
	.three {
		display: none;
	}
	.col.nine {
		width: 100%;
		min-width: 290px;
	}
	.form {
		margin-right: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.form-box {
		padding-left: 0px;
		padding-right: 0px;
	}
	#first-name {
		width: 250px;
		margin-bottom: 10px;
	}
	#last-name {
		width: 250px;
	}
}

@media only screen and (max-width: 385px) {
	.trigger {
		width: 250px;
	}
	.activetrigger {
		width: 250px;
	}
	.dropcontainer ul {
		width: 250px;
	}
}

@media only screen and (max-width: 328px) {
	.form input {
		width: 210px;
	}
	#first-name, #last-name {
		width: 210px;
	}
	.trigger {
		width: 210px;
	}
	.activetrigger {
		width: 210px;
	}
	.dropcontainer ul {
		width: 210px;
	}
}
/*---------------------------------------------------------*/