/*--------------------Admin Panel Styles---------------------*/
.navbar {
    position: fixed;
    width: 100%;
    background-color: #EEEEEE;
    font-family: roboto, sans-serif;
    z-index: 99999999;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.navbar img {
    width: 100px;
    padding: 20px;
    float: left;
}
.navbar h2 {
    margin-top: 22px;
    font-weight: 600;
    font-size: 24px;
    float: left;
    color: #004d40;
}
.navbar a {
    float: right;
    color: white;
    font-weight: 600;
    background-color: #F44336;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar a:hover {
    background-color: #e53935;
    -webkit-transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar a:active {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
    padding: 0;
    font-family: roboto, sans-serif;
}
.sidebar {
    width: 230px !important;
    position: fixed;
    padding-top: 100px;
    background-color: #F5F5F5;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    height: 100vh;
    z-index: 10;
}
.sidebar a {
    font-size: 16px;
    display: block;
    padding: 15px;
    margin: 5px 0px;
    padding-left: 25px;
    color: #263238;
    text-decoration: none;
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar a:hover {
    background-color: #004d40;
    color: white;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar .active {
    background-color: #004d40;
    color: white;
    border-radius: 2px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.row {
    overflow: hidden;
}
.main {
    margin-left: 230px;
    padding: 100px 30px 30px;
    background-color: #fafafa;
    font-family: roboto, sans-serif;
}
.main h2 {
    font-size: 28px;
    font-weight: 600;
    color: #004d40;
    text-align: center;
    margin: 25px;
}
.user {
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.user p {
    float: left;
}
.user .id {
    width: 7%;
    text-align: center;
}
.user .name {
    width: 28%;
    padding-left: 10px;
}
.user .email {
    width: 50%;
}
.user .status {
    width: 15%;
    text-align: center;
}
.warn {
    color: #F44336;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
/*-----------------------------------------------------------*/